[submodule "web"]
	path = web
	url = https://github.com/contentyouworkplace-beep/scalifyx.git
[submodule "backend"]
	path = backend
	url = https://github.com/contentyouworkplace-beep/scalifyx-backend.git
